/ArrivalSensorTest.class
/DirectionTest.class
/ElevatorButtonTest.class
/ElevatorDoorTest.class
/ElevatorMotorTest.class
/ElevatorTest.class
/FloorSchedulerElevatorTest.class
/ParserTest.class
/StateTest.class
/TestAll.class
